<div class="game">
    <div>
        <button (click)="startGame()">Start Game</button>
    </div>
    <div class="role">
        <form>
            <button (click)="onSubmit('operative')">Operative</button>
            <button (click)="onSubmit('spymaster')">Spymaster</button>
        </form>
    </div>
    <div class="flex-container">
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
        <div class="word">test</div>
    </div>
    <button class="nextGame" (click)="nextGame()">Next game</button>
</div>